#outerbox {
    margin: auto;
    width: 70%;
    margin-bottom: 10px;
}

#submitbutton {
    width: 100px;
}

.innerbox {
    width: 25%;
    margin: auto;
}

#outerSelect {
    width: 70px;
    margin: auto;
}

.center_stuff {
    width: 130px;
    margin: auto;
}
